@inherits RazorBlade.PlainTextTemplate<ProjectsDict>
@{
    var projects = Model.AlphabeticOrderedProjects;
    ProjectData[] projects2 = new List<ProjectData>(projects).ToArray();
}
@{
    <table border="1">
        <tr>
            <td>Projects</td>
            @foreach (var prj in projects)
            {
                <td>@prj.NameCSproj()</td>

            }
        </tr>
        @{
            int i = 1;
        }
        @foreach (var prj in projects)
        {
            <tr>
                <td>@(i++)  @prj.NameCSproj() 
                    <br />
                    Direct : @prj.ProjectsReferences.Count 
                    <br />
                    Total : @prj.TotalReferences() 
                </td>
                
                @foreach (var prj2 in projects2)
                {
                    if (prj2 == prj)
                    {
                        <td style='text-align:center;'>X</td>
                    }
                    else
                    {
                        string style = "style='text-align:center;'";
                        int found = prj.FindReferenceRec(prj2);
                        if (found==1){
                                style = "style='text-align:center;background-color: yellow;color: red;'";                                                                
                        }                      
                        <td @style>@(found==0?"&nbsp;":found)</td>
                    }
                }

                

            </tr>
        }
    </table>

}