@inherits RazorBlade.PlainTextTemplate<Tuple<string,NamePerCountArray,int,int, bool>>;
@{

    string name= Model.Item1;
    string nameId= name.Replace(" ","-");
    var arr = Model.Item2;
    if (arr == null)
    {
        return;
    };

    var nameCountData = arr.DataOrdered()??[];
    if (nameCountData.Length == 0)
    {
        return;
    }
    nameCountData = nameCountData.Distinct().ToArray();
    var nameCount = nameCountData;
    var nameCountGraphic = nameCountData;
    if (nameCount.Length > 10)
    {
        nameCountGraphic = nameCount.Take(10).ToArray();
    }
    var stats = arr.Statistics();

    int maxPage = nameCount.Length <10? 10: nameCount.Length;
    int nrSplit = maxPage > 100 ? 100 : 10;
    var chunk = Enumerable.Chunk(Enumerable.Range(1, maxPage), nrSplit);
    var pages = string.Join(",", chunk.Select(it => it.Last()));
    var threshold1 = Model.Item3;
    var threshold2 = Model.Item4;
    var inverseData = Model.Item5;
    string jsBool = inverseData ? "true" : "false";

    if(inverseData & (threshold1<threshold2))
    {
        var temp = threshold1;
        threshold1 = threshold2;
        threshold2 = temp;
    }
    var display2 = nameCount.Where(it => CompareT(it.Count, threshold1, inverseData)).ToArray();

    //threshold1 = 40;
    //threshold2 = 80;
    string assNamesMaintIndex = string.Join(",", nameCountGraphic.Select(it => "'" + it.Name + "'"));
    string valuesMaintIndex = string.Join(",\r\n",
            nameCountGraphic.Select(it => "{value:" + it.Count +
            (CompareT(it.Count, threshold1, inverseData) ? ",itemStyle:{color:'red'}"
                :
            (CompareT(it.Count, threshold2, inverseData) ? ",itemStyle:{color:'orange'}" : "")
            )
            + "}"
            )
            );
    StatisticsDisplay statisticsDisplay= new (arr.Statistics());

<text>
        @statisticsDisplay.Render()

        <div id="@nameId" style="height: 100%" title="@nameId"></div>
        <script type="text/javascript">
            var dom = document.getElementById('@nameId');
            var myChart = echarts.init(dom, null, {
                renderer: 'canvas',
                useDirtyRect: false
            });
            var app = {};

            var option;

            option = {
                xAxis: {
                    type: 'category',
                    data: [@assNamesMaintIndex]
                },
                yAxis: {
                    type: 'value'
                },
                tooltip: {
                    trigger: 'item',

                },
                series: [
                    {
                        data: [
            @valuesMaintIndex
                        ],
                        type: 'bar'
                    }
                ]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }

            window.addEventListener('resize', myChart.resize);
        </script>
        <br />
        <div id="@(nameId+"-table")"></div>
        <script>
            var CompareJS= function (nr, threshold, inverse)
            {
                if (inverse) {
                    return nr > threshold;
                }
                return nr < threshold;
            }

        var formatNumber = function(cell, formatterParams, onRendered) {
                
                var values = cell.getValue();
                if (CompareJS(values, @threshold1, @jsBool ))
                    return "<span style='color:red'>" + values + "</span>";
                if (CompareJS(values, @threshold2, @jsBool ))
                    return "<span style='color:orange'>" + values + "</span>";

                return "<span style='color:blue'>" + values + "</span>";
            }

            var tabledata = [
            @foreach (var item in nameCount)
            {
                <text>
                        {"Name": "@item.Name", "Nr": "@item.Count" },
                </text>
            }
                            ];
            var table = new Tabulator("@("#"+nameId + "-table")", {
                data: tabledata,
                layout: "fitColumns",
                pagination: "local",
                paginationSize: 10,
                paginationSizeSelector: [@pages],
                movableColumns: true,
                paginationCounter: "rows",
                columns: [
                    { formatter: "rownum", hozAlign: "center", width: 40 },
                    { title: "Name", field: "Name", headerFilter: "input" },
                    { title: "@name", field: "Nr", formatter: formatNumber, headerFilter: "input" },
                ],
            });

        </script>


        @{
           if (display2.Length > 0)
            {
                assNamesMaintIndex = string.Join(",", display2.Select(it => "'" + it.Name + "'"));
                
                var displayValues = nameCount
                    .Select(it => "{value:" + it.Count + ",itemStyle:{color:'red'}}"
                            )
                    .ToArray();
                
                valuesMaintIndex = string.Join(",\r\n", displayValues);

                <h2>@name bad data : @display2.Length</h2>

                <div id='@(name+"_bad")' style="height: 100%"></div>
                <script type="text/javascript">
                    var dom = document.getElementById('@(name + "_bad")');
                    var myChart = echarts.init(dom, null, {
                        renderer: 'canvas',
                        useDirtyRect: false
                    });
                    var app = {};

                    var option;

                    option = {
                        xAxis: {
                            type: 'category',
                            data: [@assNamesMaintIndex]
                        },
                        yAxis: {
                            type: 'value'
                        },
                        tooltip: {
                            trigger: 'item',

                        },
                        series: [
                            {
                                data: [
                    @valuesMaintIndex
                                            ],
                                type: 'bar'
                            }
                        ]
                    };

                    if (option && typeof option === 'object') {
                        myChart.setOption(option);
                    }

                    window.addEventListener('resize', myChart.resize);
                </script>
            }
        }


    </text>
    @functions{
        public bool CompareT(long nr  , long threshold, bool inverse)
        {
            if(inverse)
            {
                return nr > threshold;
            }
            return nr < threshold;
        }
    }
}