@inherits RazorBlade.PlainTextTemplate<Statistics<long>>;
@{
    var modes= Model.Mode;
    var displayMode = true;
    if(modes.Length==0 || modes.Length>1)
    {
        displayMode = false;
    }
    var mode= modes.First();
    var stdDev = Math.Sqrt( Model.Variance);
    var min = Model.Min;
    var max = Model.Max;
    var mean = Model.ArithmeticMean;
    double? coefOfVar=null;
    if(mean != 0)
    {
        coefOfVar = stdDev / Model.ArithmeticMean;
    }
    
    //var perc = Model.Percentile(95, (a, b) => ((double)a) * b);
}
<div>
    Min Value: @min
    ;Max Value: @max
    ;Math average: @Model.ArithmeticMean 
    ;Math median: @Model.Median
    ;Standard Dev: @(stdDev.ToString("0.00"))
    @if(coefOfVar.HasValue){
        <text>
        ;Coefficient of Variation: @(coefOfVar.Value.ToString("0.00"))
        </text>
    }
    @if(displayMode){
        <text>
        <br />
        Math mode: The most encountered value (@mode.Count() times) is @mode.Value
        </text>
    }
</div>