@inherits RazorBlade.PlainTextTemplate<ProjectsDict>;
@{
    var prefix = GlobalsForGenerating.globalPrefix();
    var nrToTake = 2;
}
---
sidebar_position: 30
---

# Commits Analysis
@{
    var data = Model.ProjectByName().ToArray();
    
    var names = data.Select(x => x.NameCSproj()).ToArray();
    var xaxis = string.Join(",", names);
    var yaxis = string.Join(",", data.Select(x => x.nrCommitsFile));
    var maxCommits = data.Max(x => x.nrCommitsFile);
    var maxCommitsMonth = Model.Values.Max(x => x.CommitsPerMonthFile);
    int height = 100 + data.Count() * 20;
}

<text>
    ## Number commits for project files

    @data.First().NameCSproj()  @data.First().LastCommitFile @data.First().LastCommitFolder
    <br/>
    @data.Last().NameCSproj() @data.Last().LastCommitFile @data.Last().LastCommitFolder

</text>
```mermaid
---
config:
    xyChart:
        width: 900
        height: @height
    themeVariables:
        xyChart:
            titleColor: "#ff0000"
---
xychart-beta horizontal
title "Number commits for .csproj files"
x-axis [@xaxis]
y-axis "NumberCommits" 0 --> @maxCommits
bar [@yaxis]
line [@yaxis]
```
<table>
    <thead>
        <tr>
            <th>Nr</th>
            <th>Project</th>
            <th>Total Commits</th>
            <th>Commits per month</th>
            <th>First Commit</th>
            <th>Last Commit</th>
        </tr>
    </thead>
    <tbody>
        @{
            var nrProj = 0;
        }
        @foreach (var item in data) 
        {
            
            string name = ""+item.nrCommitsFile;
            if (item.nrCommitsFile == maxCommits){
                name = $"<div style={{{{color: 'red'}}}}>{item.nrCommitsFile}</div>";
            }
            string nameMonth = "" + item.CommitsPerMonthFile;
            if (item.CommitsPerMonthFile == maxCommitsMonth)
            {
                nameMonth = $"<div style={{{{color: 'red'}}}}>{item.CommitsPerMonthFile}</div>";
            }
            nrProj++;
            
            <text>
            <tr>
                <td>@nrProj</td>
                <td>@item.NameCSproj()</td>

                <td>
                    @name   
                </td>
                <td>
                        @nameMonth

                </td>

                <td>
                    @item.FirstCommitFile?.ToString("yyyy MMM dd")
                </td>
                <td>@item.LastCommitFile?.ToString("yyyy MMM dd")</td>
            </tr>
            </text>
        }
    </tbody>
</table>

@{
    data = Model.ProjectByName().ToArray();

    names = data.Select(x => x.NameCSproj()).ToArray();
    xaxis = string.Join(",", names);
    yaxis = string.Join(",", data.Select(x => x.nrCommitsFolder));
    maxCommits = data.Max(x => x.nrCommitsFolder);
    maxCommitsMonth = Model.Values.Max(x => x.CommitsPerMonthFile);

}


<text>
    ## Number commits per project folder
</text>
```mermaid
---
config:
    xyChart:
        width: 900
        height: @height
    themeVariables:
        xyChart:
            titleColor: "#ff0000"
---
xychart-beta horizontal
title "Number commits per project folder"
x-axis [@xaxis]
y-axis "NumberCommits" 0 --> @maxCommits
bar [@yaxis]
line [@yaxis]
```
<table>
    <thead>
        <tr>
            <th>Nr</th>
            <th>Project folder</th>
            <th>Total Commits</th>
            <th>Commits per month</th>
            <th>First Commit</th>
            <th>Last Commit</th>

        </tr>
    </thead>
    <tbody>
        @{
            nrProj = 0;
        }
        @foreach (var item in data)
        {

            string name = "" + item.nrCommitsFolder;
            if (item.nrCommitsFolder == maxCommits)
            {
                name = $"<div style={{{{color: 'red'}}}}>{item.nrCommitsFolder}</div>";
            }
            string nameMonth = "" + item.CommitsPerMonthFolder;
            if (item.CommitsPerMonthFolder == maxCommitsMonth)
            {
                nameMonth = $"<div style={{{{color: 'red'}}}}>{item.CommitsPerMonthFolder}</div>";
            }

            nrProj++;
            <tr>
                <td>@nrProj</td>
                <td>@item.NameCSproj()</td>
                <td>@name </td>
                <td>
                    @nameMonth

                </td>

                <td>
                    @item.FirstCommitFolder?.ToString("yyyy MMM dd")
                </td>
                <td>@item.LastCommitFolder?.ToString("yyyy MMM dd")</td>
            </tr>
        }
    </tbody>
</table>

<text>
    ## Gantt data
</text>

```mermaid
gantt
    title Gantt duration of modifications
    dateFormat  YYYY-MM-DD
    section Data
    @foreach (var item in data)
{
    <text>
        @item.NameCSproj() project           :done, @item.FirstCommitFile?.ToString("yyyy-MM-dd"), @(item.DiffCommitsFile?.Days+"d")
        @item.NameCSproj() folder           :crit, @item.FirstCommitFolder?.ToString("yyyy-MM-dd"), @(item.DiffCommitsFolder?.Days + "d")
    </text>
}
```


<small>Generated  by https://www.nuget.org/packages/NetPackageAnalyzerConsole </small>