@inherits RazorBlade.PlainTextTemplate<DisplayDataMoreThan1Version>;
@{
    var keysPackageMultiple = Model.KeysPackageMultiple();
}
---
sidebar_position: 30
hide_table_of_contents: true
---

export const Highlight = ({children, color}) => (
<span style={{
      backgroundColor: color,
      borderRadius: '2px' ,
      color: '#fff' ,
      padding: '0.2rem' ,
      }}>
    {children}
</span>
);


# Packages

## Number of packages : @Model.NrPackages()

## Packages with more than 1 version: @keysPackageMultiple.Length ( @(keysPackageMultiple.Length * 100 / @Model.NrPackages()) % from total packages)

## Number of packages with major version differs: @Model.MajorVersionDiffers()

|Nr|ID|References/Projects|
| ----------- | ----------- | ----------- |
@{
    int i = 0;
}
@foreach (var item in Model.Sorted())
{
    i++;
    var pack = item.Value;
    var vals = pack.VersionsPerProject;
    var majorDiff = pack.MajorVersionDiffer();
    string textReferences = vals.Count > 1 ? $" *(References: {vals.Count})* " : "";
    string diffMajor = majorDiff ? $"<Highlight color='red'> **Major differs** </Highlight>" : "";
    string refs = "";
    @foreach (var vers in vals)
    {
        refs += " *"+vers.Key + "* " + string.Join(",", vers.Value.Select(it => it.NameCSproj()).ToArray());
        @* @(vers.Key) @("&nbsp;") @(string.Join(",",vers.Value.Select(it=>it.NameCSproj()))) *@

    }

<text>| @(i) | @(item.Key) @(textReferences) | @(diffMajor)  @refs|
</text>
}

<small>Generated  by https://www.nuget.org/packages/NetPackageAnalyzerConsole </small>
