@inherits RazorBlade.HtmlTemplate<DisplayDataMoreThan1Version>;
@{
    var keysPackageMultiple = Model.KeysPackageMultiple();
}

    # Number of packages:@Model.NrPackages()
    ## Packages with more than 1 version: @keysPackageMultiple.Length ( @(keysPackageMultiple.Length * 100 / @Model.NrPackages()) % from total packages)

    ## Number of packages with major version differs: @Model.MajorVersionDiffers()

|Nr|ID|References/Projects|
| ----------- | ----------- | ----------- |
@{
    int i = 0;
}
@foreach (var item in Model.Sorted())
{
    i++;
    var pack = item.Value;
    var vals = pack.VersionsPerProject;
    var majorDiff = pack.MajorVersionDiffer();
    string color = "";
    switch (vals.Count)
    {
        case 0:
        case 1:
            break;
        case 2:
            color = "blue";
            break;
        case 3:
            color = "purple";
            break;
        case 4:
            color = "red";
            break;

    }
    string textReferences = vals.Count > 1 ? $"<div style='color: {color}'>(References: {vals.Count})</div>" : "";
    string diffMajor = majorDiff ? $"<div style='color: red'>Major differs</div>" : "";
    string refs = "";
    @foreach (var vers in vals)
    {
        refs += " *"+vers.Key + "* " + string.Join(",", vers.Value.Select(it => it.NameCSproj()).ToArray());
        @* @Html.Raw(vers.Key) @Html.Raw("&nbsp;") @Html.Raw(string.Join(",",vers.Value.Select(it=>it.NameCSproj()))) *@

    }

<text>| @Html.Raw(i) | @Html.Raw(item.Key) @Html.Raw(textReferences) | @Html.Raw(diffMajor)  @refs|
</text>
}

<small>Generated  by https://www.nuget.org/packages/netpackageanalyzerconsole , version @Model.Version</small>
