@inherits RazorBlade.HtmlTemplate<DataToDisplayMerge>;
@{
    int nr = 0;

}

# Analyzing branch @Model.nameBranch with @Model.files.Length modifications


@(new DisplayProjectAnalyzeMarkdown(Model.analyzeCsproj!))

@(new DisplayProjectAnalyzeMarkdown(Model.analyzeNode!))


<h1 id="status"> By folder </h1>
@{
    var dataFolder = Model.AfterFolder.OrderByDescending(it => it.Value.Length).ToArray();
}
@foreach (var item in dataFolder)
{
    <h2>@item.Key : @item.Value.Length</h2>
    <ol>
        @foreach (var file in item.Value)
        {
            <li>@file.relPath</li>
        }
    </ol>
}



<h1 id="status"> By Status </h1>
    @foreach (var item in Model.AfterStatus)
    {
    nr = 0;
<text>
## @item.Key : @item.Value.Length
</text>
    @Html.Raw(Environment.NewLine)
    @foreach (var file in item.Value)
    {
        @($"{++nr}.") @file.relPath
        @Html.Raw(Environment.NewLine)
    }
}
<h1 id="extension">By Extension</h1>

    @foreach(var item in Model.AfterExtension)
    { 
    nr = 0;
<text>
## @item.Key : @item.Value.Length
</text>
    @Html.Raw(Environment.NewLine)
    @foreach (var file in item.Value)
    {
        @($"{++nr}.") @file.relPath
        @Html.Raw(Environment.NewLine)
    }
}

