@inherits RazorBlade.HtmlTemplate<DataToDisplayMerge>;
@{
    //    var keysPackageMultiple = Model.KeysPackageMultiple();
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Reset some default table styles */
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;
            border: 1px solid #ccc;
        }

        /* Style the table header */
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        /* Alternate row background color */
        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        /* Hover effect */
        tbody tr:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>

    Analyzing branch @Model.nameBranch with @Model.files.Length modifications
    @{
        var existCSProjModified = (Model.analyzeCsproj!.addedProj.Length + Model.analyzeCsproj!.modifiedProj.Length + Model.analyzeCsproj!.modifiedFilesInside.Length) > 0;
        var existNodeProjModified = (Model.analyzeNode!.addedProj.Length + Model.analyzeNode!.modifiedProj.Length + Model.analyzeNode!.modifiedFilesInside.Length) > 0;

    }
    @if (existCSProjModified)
    {
        <h1> <a href="#csproj">By CSharp Project</a></h1>
    }
    @if (existNodeProjModified)
    {
        <h1> <a href="#node">By Node</a></h1>
    }
    <h1> <a href="#status">By Status</a></h1>
    <h1> <a href="#extension">By Extension</a></h1>
    <h1> <a href="#folders">By Folders</a></h1>

    @if (existCSProjModified)
    {
        <h1 id="csproj">By CSharp project</h1>
    }
    
    @if (Model.analyzeCsproj!.addedProj.Length > 0)
    {

        foreach (var csproj in Model.analyzeCsproj!.addedProj)
        {
            <h2>New Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }

    }

    <br />

    @if (Model.analyzeCsproj!.modifiedProj.Length > 0)
    {
        foreach (var csproj in Model.analyzeCsproj!.modifiedProj)
        {
            <h2>Modified Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }
    <br />
    @if (Model.analyzeCsproj!.modifiedFilesInside.Length > 0)
    {
        foreach (var csproj in Model.analyzeCsproj!.modifiedFilesInside)
        {
            <h2>Files modified inside Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }



    @if (existNodeProjModified)
    {
        <h1 id="node">By Node</h1>
    }

    @if (Model.analyzeNode!.addedProj.Length > 0)
    {

        foreach (var csproj in Model.analyzeNode!.addedProj)
        {
            <h2>New node : @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }

    }

    <br />

    @if (Model.analyzeNode!.modifiedProj.Length > 0)
    {
        foreach (var csproj in Model.analyzeNode!.modifiedProj)
        {
            <h2>Modified Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }
    <br />
    @if (Model.analyzeNode!.modifiedFilesInside.Length > 0)
    {
        foreach (var csproj in Model.analyzeNode!.modifiedFilesInside)
        {
            <h2>Files modified inside Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }



    <h1 id="folders"> By folder </h1>
    @{
        var dataFolder = Model.AfterFolder.OrderByDescending(it => it.Value.Length).ToArray();
    }
    @foreach (var item in dataFolder)
    {
        <h2>@item.Key : @item.Value.Length</h2>
        <ol>
            @foreach (var file in item.Value)
            {
                <li>@file.relPath</li>
            }
        </ol>
    }


<h1 id="status"> By Status </h1>
    @foreach (var item in Model.AfterStatus)
    {
        <h2>@item.Key : @item.Value.Length</h2>
        <ol>
            @foreach (var file in item.Value)
            {
                <li>@file.relPath</li>
            }
        </ol>
    }
<h1 id="extension">By Extension</h1>
    @foreach(var item in Model.AfterExtension)
    {
        <h2>@item.Key : @item.Value.Length</h2>
        <ol>
        @foreach(var file in item.Value)
        {
            <li>@file.fileDataEnum.ToString() : @file.relPath</li>
        }
        </ol>
    }

</body>
</html>
