@inherits RazorBlade.HtmlTemplate<DataToDisplayMerge>;
@{
    //    var keysPackageMultiple = Model.KeysPackageMultiple();
}

<!DOCTYPE html>
<html>
<head>
    <style>
        /* Reset some default table styles */
        table {
            border-collapse: collapse;
            width: 60%;
            margin: 0 auto;
            border: 1px solid #ccc;
        }

        /* Style the table header */
        th, td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: left;
        }

        thead {
            background-color: #f2f2f2;
        }

        /* Alternate row background color */
        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:nth-child(odd) {
            background-color: #ffffff;
        }

        /* Hover effect */
        tbody tr:hover {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>

    Analyzing branch @Model.nameBranch with @Model.files.Length modifications
    @{
        var existProjModified = (Model.addedCsproj.Length + Model.modifiedCsproj.Length + Model.modifiedFilesInside.Length)>0;

    }
    @if (existProjModified)
    {
        <h1> <a href="#csproj">ByCsproj</a></h1>
    }
    <h1> <a href="#status">By Status</a></h1>
    <h1> <a href="#extension">By Extension</a></h1>

    @if (existProjModified)
    {
        <h1 id="csproj">By csproj</h1>
    }
    @if (Model.addedCsproj.Length>0){
    
        foreach(var csproj in Model.addedCsproj)
        {
            <h2>New Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }

    }
    <br />

    @if (Model.modifiedCsproj.Length > 0)
    {
        foreach (var csproj in Model.modifiedCsproj)
        {
            <h2>Modified Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }
    <br />
    @if (Model.modifiedFilesInside.Length > 0)
    {
        foreach (var csproj in Model.modifiedFilesInside)
        {
            <h2>Files modified inside Csproj: @csproj.csproj.Name() ( @csproj.csproj.relPath ) with @csproj.files.Length files</h2>
            <ol>
                @foreach (var file in csproj.files)
                {
                    <li>@file.relPath</li>
                }
            </ol>
        }
    }



<h1 id="status"> By Status </h1>
    @foreach (var item in Model.AfterStatus)
    {
        <h2>@item.Key : @item.Value.Length</h2>
        <ol>
            @foreach (var file in item.Value)
            {
                <li>@file.relPath</li>
            }
        </ol>
    }
<h1 id="extension">By Extension</h1>
    @foreach(var item in Model.AfterExtension)
    {
        <h2>@item.Key : @item.Value.Length</h2>
        <ol>
        @foreach(var file in item.Value)
        {
            <li>@file.fileDataEnum.ToString() : @file.relPath</li>
        }
        </ol>
    }

</body>
</html>
